<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 权限表SQL映射 -->
<mapper namespace="com.zzfly.dao.RightMapper">
	<resultMap id="BaseResultMap" type="com.zzfly.model.Right">
		<id column="TR_ID" property="trId" jdbcType="INTEGER" />
		<result column="R_ID" property="rId" jdbcType="INTEGER" />
		<result column="FUNC_ID" property="funcId" jdbcType="INTEGER" />
		<result column="CRE_DATE" property="creDate" jdbcType="DATE" />
		<result column="UPD_DATE" property="updDate" jdbcType="DATE" />
		<result column="PRE_COL1" property="preCol1" jdbcType="VARCHAR" />
		<result column="PRE_COL2" property="preCol2" jdbcType="VARCHAR" />
		<result column="PRE_COL3" property="preCol3" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		TR_ID, R_ID, FUNC_ID, CRE_DATE, UPD_DATE, PRE_COL1,
		PRE_COL2, PRE_COL3
	</sql>
	<!-- 主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_right
		where TR_ID = #{trId,jdbcType=INTEGER}
	</select>
	<!-- 通过角色id查村拥有的func -->
	<select id="selectFuncByRoleId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_right
		where R_ID = #{roleId,jdbcType=INTEGER}

	</select>
	<!-- 主键删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_right
		where TR_ID = #{trId,jdbcType=INTEGER}
	</delete>
	<!-- 删除某个角色的所有菜单项 -->
	<select id="deleteByRid" parameterType="java.lang.Integer" resultType="Integer">
		delete from
		t_right
		where R_ID = #{rid,jdbcType=INTEGER}
	</select>
	<!-- 新增插入 -->
	<insert id="insert" parameterType="com.zzfly.model.Right">
		insert into t_right (TR_ID,
		R_ID, FUNC_ID,
		CRE_DATE, UPD_DATE, PRE_COL1,
		PRE_COL2, PRE_COL3)
		values
		(#{trId,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER},
		#{funcId,jdbcType=INTEGER},
		#{creDate,jdbcType=DATE},
		#{updDate,jdbcType=DATE}, #{preCol1,jdbcType=VARCHAR},
		#{preCol2,jdbcType=VARCHAR}, #{preCol3,jdbcType=VARCHAR})
	</insert>
	<!-- 选择性插入 空值不插入选用默认 -->
	<insert id="insertSelective" parameterType="com.zzfly.model.Right">
		insert into t_right
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="trId != null">
				TR_ID,
			</if>
			<if test="rId != null">
				R_ID,
			</if>
			<if test="funcId != null">
				FUNC_ID,
			</if>
			<if test="creDate != null">
				CRE_DATE,
			</if>
			<if test="updDate != null">
				UPD_DATE,
			</if>
			<if test="preCol1 != null">
				PRE_COL1,
			</if>
			<if test="preCol2 != null">
				PRE_COL2,
			</if>
			<if test="preCol3 != null">
				PRE_COL3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="trId != null">
				#{trId,jdbcType=INTEGER},
			</if>
			<if test="rId != null">
				#{rId,jdbcType=INTEGER},
			</if>
			<if test="funcId != null">
				#{funcId,jdbcType=INTEGER},
			</if>
			<if test="creDate != null">
				#{creDate,jdbcType=DATE},
			</if>
			<if test="updDate != null">
				#{updDate,jdbcType=DATE},
			</if>
			<if test="preCol1 != null">
				#{preCol1,jdbcType=VARCHAR},
			</if>
			<if test="preCol2 != null">
				#{preCol2,jdbcType=VARCHAR},
			</if>
			<if test="preCol3 != null">
				#{preCol3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 通过主键选择性的更新数据 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.zzfly.model.Right">
		update t_right
		<set>
			<if test="rId != null">
				R_ID = #{rId,jdbcType=INTEGER},
			</if>
			<if test="funcId != null">
				FUNC_ID = #{funcId,jdbcType=INTEGER},
			</if>
			<if test="creDate != null">
				CRE_DATE = #{creDate,jdbcType=DATE},
			</if>
			<if test="updDate != null">
				UPD_DATE = #{updDate,jdbcType=DATE},
			</if>
			<if test="preCol1 != null">
				PRE_COL1 = #{preCol1,jdbcType=VARCHAR},
			</if>
			<if test="preCol2 != null">
				PRE_COL2 = #{preCol2,jdbcType=VARCHAR},
			</if>
			<if test="preCol3 != null">
				PRE_COL3 = #{preCol3,jdbcType=VARCHAR},
			</if>
		</set>
		where TR_ID = #{trId,jdbcType=INTEGER}
	</update>
	<!-- 通过主键更新全覆盖 -->
	<update id="updateByPrimaryKey" parameterType="com.zzfly.model.Right">
		update t_right
		set
		R_ID = #{rId,jdbcType=INTEGER},
		FUNC_ID = #{funcId,jdbcType=INTEGER},
		CRE_DATE = #{creDate,jdbcType=DATE},
		UPD_DATE =
		#{updDate,jdbcType=DATE},
		PRE_COL1 = #{preCol1,jdbcType=VARCHAR},
		PRE_COL2 = #{preCol2,jdbcType=VARCHAR},
		PRE_COL3 =
		#{preCol3,jdbcType=VARCHAR}
		where TR_ID = #{trId,jdbcType=INTEGER}
	</update>
</mapper>